/* ProductCard-specific styles */
.card {
  width: 600px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
}

.imageContainer {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 4px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title {
  margin: 8px 0 4px 0;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.price {
  margin: 4px 0;
  font-weight: bold;
  font-size: 1.05rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: green;
  flex-shrink: 0;
}

.button {
  display: inline-block;
  width: 95%;
  text-align: center;
  padding: 10px 0;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #FF9900;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  flex-shrink: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
